.custom-dropzone {
  width: 358px;
  height: 217px;
  border: hidden;
  /* cursor: not-allowed; */

  /* border-spacing: 100ch; */

  /* comment starts
  border: 10px dashed grey;
   border-color: grey; 
   border-width: 3px;
   border-radius: 6px;
   background-color: #ffffff; 
    comment ends */

  margin: 0 11px;
 /*  margin:  10px 11px  11px; */
  margin-top: 10px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='20%2c 14' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
 /*  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23333' stroke-width='3' stroke-dasharray='15%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */

  /* cursor: url("../h.png"), auto; */
/* cursor: url("../allowed.png"),auto;
cursor: url("../stop.png"),auto; */
  /* cursor: url("https://groups.google.com/d/topic/clementine-player/nA-E0DAe6gI"),
    auto; */

  /* pointer-events: auto; */
  
  /* border-inline-color: grey; */
   
  /* cursor: url("./../assets/Stop.svg.png"), auto; */
}
.custom-dropzone.ngx-dz-hovered{
  border: 3px dashed grey;
 
  /* cursor: no-drop; */
}


.custom-dropzone2 {
  width: 358px;
  height: 217px;
  /* cursor: not-allowed; */
  /* border-spacing: 100ch; */
 
  border-width: 3px;
  margin: 0 11px;
  margin-top: 10px;
  /* cursor: url("https://groups.google.com/d/topic/clementine-player/nA-E0DAe6gI"),
      auto; */
  /* pointer-events: auto; */
  /* border-inline-color: grey; */
  background-color: #ffffff;
  border: hidden;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230089A2FF' stroke-width='1' stroke-dasharray='20%2c15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); /* cursor: url("./../assets/Stop.svg.png"), auto; */
}
.custom-dropzone1 {
  width: 358px;
  height: 217px;
  /* cursor: not-allowed; */
  /* border-spacing: 100ch; */
  
  border-width: 3px;
  margin: 0 11px;
  margin-top: 10px;
  /* cursor: url("https://groups.google.com/d/topic/clementine-player/nA-E0DAe6gI"),
      auto; */
  /* pointer-events: auto; */
  /* border-inline-color: grey; */
  background-color: #ffffff;
  border: hidden;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EC3463' stroke-width='1' stroke-dasharray='20%2c14' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* .box.no-cursor {
  cursor: default;

}

.box {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  border-color: white;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
  background: #353131;
  border-width: 2px;
  display: inline-block;
  width: 300px;
  height: 150px;
}

.box:hover {
background-color: dimgrey;
border-color: grey;
cursor: no-drop;
} */

.custom-dropzone.hovering {
  border: 10px dashed #add8e6;
}
.custom-dropzones.hoverings {
  border: 10px dashed red;
}

.error {
  width: 358px;
  height: 217px;

  /* border-spacing: 100ch; */
  border-color: red;
  border-width: 3px;
  margin: 0 11px;

  /* border-inline-color: grey; */
  background-color: #ffffff;
}
.btn1 {
  width: 82px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #b8bcbf;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  color: #3178b9;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.4px;
  
}

.rectangle {
  width: 390px;
  height: 583px;
  border: 1px solid #b8bcbf;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Noto Sans ", "Noto Sans", sans-serif;
  color: #000000;
  text-align: left;
  line-height: normal;
  margin: 0 35px;
 /*  overflow: scroll; */
}
.or {
  width: 113px;
  height: 18px;
  padding-left: 45px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "Noto Sans ", "Noto Sans", sans-serif;
  color: #797979;
  text-align: center;
  line-height: 18px;
}
.migration {
  
  padding-top: 7px;
  
  width: 390px;
  height: 42px;
  border: 1px solid #b8bcbf;
  background-color: #f1f4f6;
  box-sizing: border-box;
  font-family: "Noto Sans ", "Noto Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  line-height: 28px;
  /* margin: 0 15px; */
}
.btnExport{
  float:right;
  width: 74px;
  height: 24px;
  border-radius: 4px;
  background-color: #e4e4e4;
  /* box-sizing: border-box; */
  font-family: 'Noto Sans ', 'Noto Sans', sans-serif;
  color: #999ca0;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.4px;

}

.tabdown{
  
     bottom: 0px;
    justify-content: baseline;
 padding-top: 5px;
 padding-right: 5px;

    width: 390px;
    height: 42px;
    border: 1px solid #b8bcbf;
    background-color: #f1f4f6;
     /* background-color: #e4e4e4; */

     box-sizing: border-box;
    font-family: "Noto Sans ", "Noto Sans", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    line-height: 28px;  
    /* margin: 0 15px; */
  
}

.migration2 {
  width: 390px;
  height: 30px;
  border: 1px solid #b8bcbf;
  background-color: dimgray;
  box-sizing: border-box;
  font-family: "Noto Sans ", "Noto Sans", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
  line-height: 28px;
  /* margin: 0 15px; */
}

.shape {
  width: 8px;
  height: 12px;
  background-color: #000000;
  box-sizing: border-box;
  font-family: "Noto Sans ", "Noto Sans", sans-serif;
  color: #333333;
  text-align: center;
  line-height: normal;
  display:none;
}

.cursor {
  cursor: url("https://groups.google.com/d/topic/clementine-player/nA-E0DAe6gI"),
    auto;
}

.myclass {
  width: 358px;
  height: 217px;

  /* border-spacing: 100ch; */
  border-color: #add8e6;
  border-width: 3px;
  margin: 0 11px;
  /* cursor: url("https://groups.google.com/d/topic/clementine-player/nA-E0DAe6gI"),
  
    auto; */
  cursor: pointer;
  pointer-events: auto;
  /* cursor: url("../../Starbucks.jpg"), auto; */
  /* border-inline-color: grey; */
  background-color: #ffffff;
}

.cross{
    align-items: right;
    float: right;
}


